<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.phonegap.example"
	version   = "1.0.0">
	
<name> App Entorno </name>
<icon src="i.jpg" gap:platform="android" gap:density="ldpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="ldpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="mdpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="hdpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="xhdpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="fr-xhdpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="port-xxhdpi" />
<gap:splash src="o.gif" gap:platform="android" qualifier="land-xxhdpi" />


<description>
informatica
</description>
<preference name="permissions" value="none"/>

</widget>